.post {
   padding : 200px 250px 100px 250px;
}

.view {
    margin-top : 10px;
    margin-bottom : 10px;
}

.view small{
  font-size: 0.8rem;
  color:#aaa;
  font-family: 'Noto Sans KR', sans-serif;
}

.posting {
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
}

.posting .date {
  padding: 5px 0;
  border-bottom: 1px solid #999;
}

.posting .date{
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
}

.posting .date {
  padding: 0 4px;
  display: flex;
}

.posting .date{
  color:#000;
}

.posting .date {
  color:#aaa;
}

.content, .file{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top : 10px;
    padding-bottom : 10px;
}

.btnDiv {
    text-align: right;
}

.btnP {
    display: flex;
    align-items: center;
    display:inline-block;
}

.subBtn {
    width: 60px;
    height: 44px;
    background: #eee;
    font-size: .9rem;
    border: 0;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    display:inline-block; /* 수정 */
}

.centerClass {
    text-align : center;
    margin-bottom: 20px;
}

.contents {
    margin-top: 50px;
}