@charset "utf-8";
/************   reset *********************/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*, *:before, *:after {-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit}
html {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-text-size-adjust:none; -webkit-text-size-adjust:none;height:100%}
body {height: 100%; font-family: 'Noto Sans KR', sans-serif; font-size: 16px; color: #454545;line-height: 1.5;background-color:#fff}
h1, h2, h3, h4, h5, h6 {font-weight:600}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure,  figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {margin:0; padding:0;border:0}
ul li, ol li {list-style: none}
em, address {font-style:normal}
a {text-decoration: none; cursor: pointer;color: #666}

.webtong_tab_type03 li:after, .webtong_tab_type03 li:after {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s
}

.notice_content {
   padding : 200px 250px 100px 250px;
}

.webtong_tab_type03 { display:table; width:100%; table-layout:fixed; border-left:1px solid #e7e7e7; margin-bottom : 50px;}
.webtong_tab_type03 li { display:table-cell; height:50px;position:relative}
.webtong_tab_type03 li:after, .webtong_tab_type03 li:after {content: '';position: absolute;background-color: #444;height: 3px;top: 0;width: 0}
.webtong_tab_type03 li.on:after, .webtong_tab_type03 li:hover:after {width: 100%}

.webtong_tab_type03 li a { display:block;position:relative;height:50px;border-top:1px solid #e7e7e7;border-bottom:1px solid #444;line-height:50px;text-align:center;}
.webtong_tab_type03 li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df}
.webtong_tab_type03 li.on a, .webtong_tab_type03 li:hover a {border-bottom-color:transparent}
.webtong_tab_type03 li:hover a {border-bottom-color:transparent}
.webtong_tab_type03 li.on a:after, .webtong_tab_type03 li:hover a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:-1px; width:1px; background:#444}
.webtong_tab_type03 li.on a:before, .webtong_tab_type03 li:hover a:before { content:''; display:block; position:absolute; top:0; left:0; bottom:-1px; width:1px; background:#444}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
section.notice {
  padding: 80px 0;
}

.page-title {
  margin-bottom: 60px;
}
.page-title h3 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

#board-search .search-window {
  padding: 15px 0;
  background-color: #f9f7f9;
}

.search-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#board-search .search-window .search-wrap {
  position: relative;
  padding-right: 124px;
  margin: 0 auto;
  width: 80%;
  max-width: 650px;
}
#board-search .search-window .search-wrap input {
  height: 40px;
  width: 340px;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
#board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}
#board-search .search-window .search-wrap .bt_search {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 40px;
  padding: 0;
  font-size: 16px;
}

.board-table {
  font-size: 14px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 220px;
  text-align: center;
}

.board-table th, .board-table td {
  padding: 15px 35px;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.bt_search {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.bt_search {
  background: #555;
  color: #fff;
}

.bt_search:hover, .bt_search:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.bt_search {
  background: #555;
  color: #fff;
}

.bt_search:hover, .bt_search:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.category_bar {
  width: 997px;
  margin: 0 auto;
}

.selectType {
   display: inline-block !important;
   vertical-align: top;
}

/*select*/

.select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#selectBox {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #555555;
}
#selectBox .select {
  display: inline-block;
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
}
#selectBox .select option {
  background-color: #cccccc;
  color: #fff;
  padding: 3px 0;
  font-size: 16px;
}
#selectBox .icoArrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35px;
  height: inherit;
  border-left: 2px solid #555555;
  display: flex;
  justify-content: center;
  align-items: center;
}

#selectBox .icoArrow img {
  width: 50%;
  transition: .3s;
}

#selectBox .select:focus + .icoArrow img {
  transform: rotate(180deg);
}

/*pagenation*/

.paging {
  text-align : center;
  margin-top: 25px;
}

.paging p {
    float : center;
}

.paging a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.paging a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.paging a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.btnDiv {
    text-align: right;
}

.btnP {
    float: right;
    margin-right : 25px;
}

.subBtn {
    width: 60px;
    height: 44px;
    background: #eee;
    font-size: .9rem;
    border: 0;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}