@charset "utf-8";
/************   reset *********************/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*, *:before, *:after {-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit}
html {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-text-size-adjust:none; -webkit-text-size-adjust:none;height:100%}
body {height: 100%; font-family: 'Noto Sans KR', sans-serif; font-size: 16px; color: #454545;line-height: 1.5;background-color:#fff}
h1, h2, h3, h4, h5, h6 {font-weight:600}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure,  figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {margin:0; padding:0;border:0}
ul li, ol li {list-style: none}
em, address {font-style:normal}
a {text-decoration: none; cursor: pointer;color: #666}

.webtong_tab_type03 li:after, .webtong_tab_type03 li:after {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s
}

#content {
    padding: 8% 10% 6% 10%;
}

.webtong_tab_type03 { display:table; width:100%; table-layout:fixed; border-left:1px solid #e7e7e7; margin-bottom : 50px;}
.webtong_tab_type03 li { display:table-cell; height:50px;position:relative}
.webtong_tab_type03 li:after, .webtong_tab_type03 li:after {content: '';position: absolute;background-color: #444;height: 3px;top: 0;width: 0}
.webtong_tab_type03 li.on:after, .webtong_tab_type03 li:hover:after {width: 100%}

.webtong_tab_type03 li a { display:block;position:relative;height:50px;border-top:1px solid #e7e7e7;border-bottom:1px solid #444;line-height:50px;text-align:center;}
.webtong_tab_type03 li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df}
.webtong_tab_type03 li.on a, .webtong_tab_type03 li:hover a {border-bottom-color:transparent}
.webtong_tab_type03 li:hover a {border-bottom-color:transparent}
.webtong_tab_type03 li.on a:after, .webtong_tab_type03 li:hover a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:-1px; width:1px; background:#444}
.webtong_tab_type03 li.on a:before, .webtong_tab_type03 li:hover a:before { content:''; display:block; position:absolute; top:0; left:0; bottom:-1px; width:1px; background:#444}

.notice {
    margin-bottom : 50px;
}

.tb {
    width : 100%;
}

.subject {
    width: 80%;
    text-align: center;
}

.no {
    width:10%
}