.wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 250px 50px 0px 50px;
}

.box-item {
    box-sizing: border-box;
    color: white;
    width: 300px;
    height: 175px;
    padding: 30px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 50px;
}