<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pickmeup.jobstartup.common.repository.MemberRepository">
    <!-- 개인회원 아이디 중복 확인 -->
    <select id="countByMemberId" resultType="int">
        select count(*) from member where member_id = #{member_id}
    </select>

    <!-- 회원가입 -->
    <insert id="save">
        INSERT INTO member(member_id, member_type, menu_id, member_name, member_pw, member_sex, member_hp, member_email, member_birth, member_loc)
        VALUES(#{member_id}, #{member_type}, #{menu_id}, #{member_name}, #{member_pw}, #{member_sex}, #{member_hp}, #{member_email}, #{member_birth}, #{member_loc})
    </insert>

    <!-- 회원 구분에 따른 메뉴 ID 가져오기 -->
    <select id="selectMenuId" resultType="string">
        SELECT menu_id
        FROM menu_authority
        WHERE member_type = #{member_type}
    </select>
</mapper>