.done {
  text-align: center;
}

.done p {
  margin-bottom: 40px;
}

.donepic {
  width: 150px;
  padding: 30px 0;
  margin: 0 auto;
}

.acco {
  padding: 40px 0 0;
  box-sizing: border-box;
}

.three {
  box-sizing: border-box;
}

.q {
  width: 100%;
  padding: 18px 5px;
  display: flex;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
}

.q .yet, .q .finish {
  background: #f95a5a;
  color: white;
  border-radius: 50px;
  padding: 18px 10px;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 10px 0 10px;
}

.q .finish {
  background: #5D4FFF;
}

.q > :nth-child(2) {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
}

.q > :nth-child(3) {
  text-align: right;
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 400;
  margin-right: 30px;
}

.a {
  background: ##fafdff;
}

.line, .a > :nth-child(2) {
  padding: 30px 20px;
  border-bottom: 1px solid #ccc;
}

.a strong {
  display: block;
  margin-bottom: 15px;
}

.closeacco .a {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  display: block;
}

.openacco .a {
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}

.openacco .q {
  background-color: #ffffff;
  color: #fff;
}

.blue {
  color: #5D4FFF;
}

.file {
  display: inline-flex;
  padding: 6px 12px;
  border: 1px solid #171717;
  margin: 20px 5px 5px 0;
  border-radius: 4px;
  align-items: center;
  font-weight: 400;
  font-size: 0.8125rem;
  letter-spacing: -.005em;
  line-height: 20px;
  height: 34px;
}

.subBtn_q {
    width: 80px;
    height: 40px;
    background: #296efa;
    color: white;
    border: 0px;
    margin-right: 5px;
}

.btnWrap {
     display: flex;
     justify-content: flex-end;
}

/*--answerForm--*/
#aFile_orgName {
  display: none;
}

.upload {
  margin-right: 10px;
  width: 100px;
  height: 50px;
  background: #eee;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.upload:hover {
  background: #777;
  color: #fff;
}

input[name=fileUpload] {
  display: block;
  width: 120px;
  height: 50px;
}

.fileUpload {
  display: flex;
  margin: 20px 0;
}

.fileUpload h5 {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.length {
  display: block;
  width: 100%;
  height: 30px;
  padding: 2px 5px;
  border: 1px solid #bbb;
  margin: -3px 0;
  border-radius: 0 0 5px 5px;
  color: #6a6a6a;
}

button.no-hover:hover {
  background-color: initial;
  color: initial;
}


.fontTitle{
  display: flex;
  align-items: center;
  height: 100%;
  color : black;
}

.fontSty {
    color : black;
    font-size: 1rem;
}

.question {
    padding : 200px 400px 100px 400px;
}