* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-image: #34495e;
  padding : 200px 250px 100px 250px;
}

.joinForm {
  position: absolute;
  width: 400px;
  height: 400px;
  padding: 30px 20px;
  background-color: #FFFFFF;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.joinForm h2 {
  text-align: center;
  margin: 30px;
}

.textForm {
  border-bottom: 2px solid #adadad;
  margin: 10px -80px;
  padding: 10px 10px 10px 10px;
  position: relative;
  width: 530px;
}

.textForm input[type="text"] {
  border: none;
  background: none;
  outline: none;
  color: #636e72;
  font-size: 16px;
  height: 25px;
}

.id, .pw, .name, .email, .nickname, .cellphoneNo {
  width: 100%;
  border: none;
  outline: none;
  color: #636e72;
  font-size: 16px;
  height: 25px;
  background: none;
  margin-bottom: 0px;
}

.hello {
  position: relative;
  left: 40%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width: 80%;
  height: 30px;
  background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  background-position: left;
  background-size: 200%;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  display: inline;
}

.hello:hover {
  background-position: right;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inputGroup label {
  margin-right: 10px;
  flex-shrink: 0;
  width: 70px;
  font-weight: 600;
  white-space: nowrap;
}

.inputGroup input {
  flex-grow: 1;
  width: 70%;
}

.joinForm .inputGroup label {
  text-align: left;
  flex: 4;
}

.placeholderColor {
    color: #636e72; /* Placeholder 색상과 동일하게 설정 */
}

.genderSelection label {
    color: #636e72;
    font-weight: normal;
}

.genderSelection {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

label {
  box-sizing: border-box;
}

.genderLabel {
  width: 152px;
  max-width: 152px;
}

.textForm input[type="text"]#sample6_postcode {
  width: 66px;
}

#sample6_address {
  width: 240px;
}

#sample6_extraAddress {
  width: 150px; /* 원하는 너비로 조정하세요 */
}

#sample6_detailAddress {
  width: 200px;
}

#idCheckMsg, #pwMsg, #pwEqualMsg, #nameCheckMsg, #birthMsg, #ageMsg, #hpMsg, #emailMsg, #hp2Msg {
    display: block;
    position: absolute;
    bottom: -20px; /* 여백을 조절하기 위한 값. 필요에 따라 조절하세요 */
    left: 0;
    font-size: 12px;
}

.inputWithMessage {
    display: flex;
    flex-direction: column;
    width: 70%;  /* 이 부분은 .inputGroup input의 width와 동일한 값을 가져야 합니다. */
}

.inputGroup input {
    width: 100%;
    margin-bottom: 5px;  /* 이 부분은 필요에 따라 조절하여 메시지와의 간격을 설정하세요. */
}

#phone1Btn, #phone2Btn {
  width: 100px; /* 버튼의 너비를 100px로 설정 */
  margin-left: -430px; /* 왼쪽 여백을 자동으로 설정하여 버튼을 오른쪽으로 이동 */
  margin-right: 160px;
}

#member_hp2 {
  padding-left: 80px;  /* 원하는 만큼의 값을 조절하세요 */
}

#countdown {
    position: absolute;
    right: 115px;  /* 위치 조정을 원하시면 이 값을 조절하세요 */
    top: 10px;  /* 입력 필드와 남은 시간의 수직 정렬을 위해 이 값을 조절하세요 */
}

.dummy {
    margin: 10px;
}

main {
    padding : 200px 250px 100px 250px;
}