.all-content{
  margin-right: 5%;
  margin-left: 5%;
  padding: 5px;
}

/* 1st section */
.main-first-container {
    display: flex;
    flex-direction: space-between;
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;
}

.first-first-container {
    /*border: 1px solid red;*/
    width: 72%;
    margin: auto;
}

.first-second-container {
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
}

.first-first-items {
    /*border: 1px solid red;*/
    margin: 10px;
}

.first-second-items {
    /*border: 1px solid red;*/
    margin: 10px;
}

.second-first-items {
    /*border: 1px solid red;*/
    margin: 10px;
}

.second-second-items {
    /*border: 1px solid red;*/
    margin: 10px;
}

.second-third-items {
    /*border: 1px solid red;*/
    margin: 10px;
}

.second-fourth-items {
    /*border: 1px solid red;*/
    margin: 10px;
}


/* 2nd section */
.main-second-container {
    display: flex;
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
}

/* 3rd section */
.main-third-container {
    display: flex;
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
}

/* 4th section */
.main-fourth-container {
    height: 300px;
    display: flex;
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
}

/* 5th section */
.main-fifth-container {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    z-index: 1;
    padding: 30px;
    /*box-shadow: 0px 0px 15px rgba(0,0,0,0.1);*/
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
}

