main {
  display: block;
}

body {
  display: block;
}

.all-content{
  margin-right: 5%;
  margin-left: 5%;
  padding: 5px;
}

/* 1st section */
.main-first-container {
    display: flex;
    flex-direction: space-between;
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;
}

.first-first-container {
    /*border: 1px solid red;*/
    width: 72%;
    margin: auto;
}

.first-second-container {
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
}

.first-first-items {
    /*border: 1px solid red;*/
    margin: 10px;
}

.first-second-items {
    /*border: 1px solid red;*/
    margin: 10px;
}

.second-first-items {
    /*border: 1px solid red;*/
    margin: 10px;
}

.second-second-items {
    /*border: 1px solid red;*/
    margin: 5px;
}
.follow-image{
    margin-bottom: 2px;
}

.second-third-items {
    /*border: 1px solid red;*/
    margin: 10px;
}

.second-fourth-items {
    /*border: 1px solid red;*/
    margin: 10px;
}


/* 2nd section */
.main-second-container {
    display: flex;
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
}
.company_logo {
    display: flex;
    justify-content: center;
}
.image {
    width: 70%;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.second-container {
    display: grid;
    grid-template-columns: 2fr 8fr;
}
table.company_info {
  border-collapse: collapse;
  line-height: 1.5;
  width: 100%;
}
table.company_info tbody th {
  width: 11%;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  vertical-align: top;
}
table.company_info td {
  width: 70%;
  padding: 10px;
  font-size: 1.1em;
  vertical-align: top;
}

/* 3rd section */
.main-third-container {
    display: flex;
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
}
.third-container{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 3%;
}
table.posting_info {
  border-collapse: collapse;
  line-height: 1.5;
  width: 200%;
}
table.posting_info tbody th {
  width: 11%;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  vertical-align: top;
}
table.posting_info td {
  width: 70%;
  padding: 10px;
  font-size: 1.1em;
  vertical-align: top;
}

/* 4th section */
.main-fourth-container {
    height: 300px;
    display: flex;
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
}
.fourth-container {
    margin-left: 3%;
}


/* qna seciton*/
.main-six-container {
    height: auto;
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
}

.all-content {
    padding: 3% 10% 3% 10%;
}
/* 5th section */
.main-fifth-container {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    z-index: 1;
    padding: 30px;
    /*box-shadow: 0px 0px 15px rgba(0,0,0,0.1);*/
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
}
.btn-delete{
    background: #ff0000 !important;
    margin-left:10px;
}
.btn-apply{
    background: #FF5656!important;
}
.bookmark-button{
    background: #ffffff!important;
    border: 1px solid #adadad!important;
}

