.main-content{
    padding : 200px 250px 100px 250px;

}
/*-------------------------------------------------------------*/
/*채용정보 css*/
.posting_title{
    margin-bottom: 40px;
}

.company_address, .posting_academy, .posting_labor, .posting_salary {
    font-size: 15px;
}
.company_name{
    font-size: 20px;
}
.jobPostingList-container{
    margin: 50px;
}
.info-container {
    /*border: 1px solid green;*/
    grid-column-gap: 50px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-items {
    height: 50%;
    margin: 4.5%;
    width: 45%;
    z-index: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px !important;
    border-top-right-radius: 50px !important;
    transition: all .3s;
}

.service-item{
    height: auto;
    width: 90%;
    padding: 38px!important;
    margin-bottom: 20px!important;
}


/* pagination */
.pagination {
    display: flex;
    justify-content:center;
}

.pagination a, .pagination span {
    padding: 5px 10px;
    margin-right: 5px;
}

.current {
    font-weight:bold;
}

.page-link {
    color:#0000FF; /* 원하는 링크 색상으로 변경하세요 */
}

