#content {
    padding: 8% 10% 6% 10%;
}

.webtong_tab_type03 li:after, .webtong_tab_type03 li:after {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.webtong_tab_type03 {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-left: 1px solid #e7e7e7;
    margin-bottom: 50px;
}

.webtong_tab_type03 li {
    display: table-cell;
    height: 50px;
    position: relative
}

.webtong_tab_type03 li:after, .webtong_tab_type03 li:after {
    content: '';
    position: absolute;
    background-color: #444;
    height: 3px;
    top: 0;
    width: 0
}

.webtong_tab_type03 li.on:after, .webtong_tab_type03 li:hover:after {
    width: 100%;
    background: linear-gradient(to right, #5478ed, #2ed4fb); /*  그라데이션 색상 코드를 입력. */
}

.webtong_tab_type03 li a {
    display: block;
    position: relative;
    height: 50px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #444; /*밑줄*/
    line-height: 50px;
    text-align: center;
}

.webtong_tab_type03 li .searchWrapper {
    display: block;
    position: relative;
    height: 40px;
    border-top: 1px solid #e7e7e7;
    line-height: 50px;
    text-align: center;
}

.webtong_tab_type03 li a:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #e6e3df
}

.webtong_tab_type03 li .searchWrapper:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #e6e3df
}

.webtong_tab_type03 li.on a, .webtong_tab_type03 li:hover a {
    border-bottom-color: transparent
}

.webtong_tab_type03 li:hover a {
    border-bottom-color: transparent
}

.webtong_tab_type03 li.on a:after, .webtong_tab_type03 li:hover a:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    width: 1px;
    background: #444
}

.webtong_tab_type03 li.on a:before, .webtong_tab_type03 li:hover a:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -1px;
    width: 1px;
    background: #444
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.searchContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-top: 0px solid #e7e7e7;
    border-bottom: 1px solid #444;
}

.searchWrapper input {
    border: none; /* 기본 테두리 제거 */
    padding-left: 10px; /* 텍스트와 검색창 사이의 간격 */
}

.webtong_tab_type03 .searchWrapper input {
    width: 99%;
    height: 100%; /* 높이 맞추기 */

}

.webtong_tab_type03 .searchWrapper input:focus {
    border: none; /* 기본 테두리 제거 */
    outline: none; /* 기본 외곽선 제거 */
    box-shadow: 0 0 15px 2px #3fadf5;
}

.upperLoc {
    border: none; /* 기본 테두리 제거 */
    outline: none; /* 기본 외곽선 제거 */
}

.webtong_tab_type03 .upperLoc select {
    width: 100%;
    height: 130%; /* 높이 맞추기 */
    border: none; /* 기본 테두리 제거 */
    outline: none; /* 기본 외곽선 제거 */
}

/*-----------------------------------------------------*/

/* 전체 내용 위치 조정 */
.recruitment {
    text-align: center;
    padding: 5px;
    /*margin-bottom: 10px;*/
    /*margin-left: 150px;*/
}
.recruitment h4 {
    font-weight: 700;
}

/*----------------------------------------------------*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.dropdown-content select {
    outline: none; /* 기본 외곽선 제거 */
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 150%;
    top: .8em;
}

.dropdown-content select option {
}

.dropdown .dropbtn.active + .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: none; /* 드롭다운 hover 시에는 숨김 */
}

/*---------------------------------------------------*/
.loc-detail-name {
    cursor: pointer;
}

.loc-detail-name.selected {

    background-color: #3fadf5; /* 선택된 상태에 배경색 추가 */
    color: white; /* 선택된 상태에 글자색 변경 */
    padding: 1px 5px; /* 선택된 상태에 패딩 조정 */
    border-radius: 4px; /* 선택된 상태에 라운드 처리 */
}

.loc-detail-name:hover {
    background-color: #e7e7e7; /* 호버 시 배경색 추가 */
    border-radius: 4px; /* 호버 시 라운드 처리 */
}

/*--------------------------------------------------------*/
.checkbox-wrapper input[type="checkbox"] {
    display: none;
}
/*-------------------------------------------------------------*/
/*채용정보 css*/
.posting_title{
    margin-bottom: 40px;
}

.company_address, .posting_academy, .posting_labor, .posting_salary {
    font-size: 17px;
}
.company_name{
    font-size: 20px;
    float:right;
}
.jobPostingList-container{
    margin: 7%;
}
.info-container {
    /*border: 1px solid green;*/
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-container-items {


}

.info-items {
    height: 50%;
    margin: 4.5%;
    width: 45%;
    z-index: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px !important;
    border-top-right-radius: 50px !important;
    transition: all .3s;
}

.service-item{
    height: auto;
    width: 90%;
    padding: 38px!important;
    margin-bottom: 20px!important;
}


/* pagination */
.pagination {
    display: flex;
    justify-content:center;
}

.pagination a, .pagination span {
    padding: 5px 10px;
    margin-right: 5px;
}

.current {
    font-weight:bold;
}

.page-link {
    color:#0000FF; /* 원하는 링크 색상으로 변경하세요 */
}

/* search */
.searchBar {



}