.image {
    width: 70%;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.edit-button {
    width: 7em;
    height: 2.5em;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    background: #7A41FF;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
    cursor: pointer;
}

.first-enroll-mail, .first-denial-mail, .last-enroll-mail, .last-denial-mail {
    width: 7em;
    height: 2.5em;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    background: #7A41FF;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
}

.first-enroll-button, .final-enroll-button {
    width: 7em;
    height: 2.5em;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    background: #7A41FF;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
}

.final-denial-button, .first-denial-button {
    width: 7em;
    height: 2.5em;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    background: #7A41FF;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
}

.main-title-container h4 {
    font-weight: 700;
}

.main-title-container {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.main-container {
  margin-right: 5%;
  margin-left: 5%;
  padding: 5px;
}

.info-container {
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;

    width: 90%;
    height: 300px;

}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.moving-button {
    width: 7em;
    height: 2.5em;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    background: #7A41FF;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
    cursor: pointer;
}

.info-main-container {
    display: flex;
    margin: 5px;
}

.profile {
    flex-basis: 30%;
}

.profile-pic {
    margin: 5px;
}

.company-info {
    flex-basis: 70%;
    margin: 5px;
}


.status-container {
  margin-top: 10px;
  height: auto;
  padding: 20px;
  z-index: 1;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 10px;
  border-top-right-radius: 50px;
  transition: all .3s;
  margin-bottom: 30px;
}

.content-label-container {
  display: flex;  
}

.content-label {
  display: block;
  text-align: center;
  line-height: initial;
  border-bottom: none;
  width: auto;
  height: auto;
  font-weight: bold;
  font-size: 13px;
  background-color: white;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
  cursor: pointer;
}

.content-container {


}

.content{
    margin: 10px;
    height: auto;
}


.approval-container {
  margin-top: 10px;
  height: 250px;
  z-index: 1;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 10px;
  border-top-right-radius: 50px;
  transition: all .3s;
  margin-bottom: 30px;
}

.first-approval{
  margin: 10px;
}

.last-approval{
  margin: 10px;
}


