@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
body{
    200px 250px 100px 250px;
}
* {
	box-sizing: border-box;
}
.article1 {
    margin-bottom: 10px;
}
#logo-preview{
    width: 70%;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.container1 {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 650px;
	max-width: 100%;
	margin: 0 auto;
}
.container2 {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 650px;
	max-width: 100%;
	margin: 10px auto;
}
.header {
    border: 1px solid;
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}
.header h2 {
	margin: 0;
}
.general-font {
    text-align: center;
}
.form {
	padding: 30px 40px;
    border: 1px solid;
    border-top: 1px solid #f0f0f0;
}

.form-control1 {
    margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control1 label {
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 60px;
}
.form-control1 label.company_type{
margin-right:60px;
}
.form-control1 input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 80%;
	margin: 0 auto;
}
.form-control1 select {
    width: 325px; /* 원하는 너비로 설정 */
}
.form-control1 select.upper {
    width: 120px; /* 원하는 너비로 설정 */
}
.form-control1 select.lower{
    width: 220px; /* 원하는 너비로 설정 */
}
.custom-file-upload {
    display: inline-block;
    position: relative;
    font-size: 16px;
}
.form button {
	background-color: #26b4e7;
	border: 2px solid #26b4e7;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 50%;
	margin: 0 auto;
}

