/* <FullCalendar> https://fullcalendar.io/ */
.calendar {
    position: relative;
}

/* 모달 스타일 */
.modal {
  display: none; /* 초기에 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  position: relative;
  width: 700px;
  height: auto;
  MARGIN-TOP:30PX;
  padding: 15px;
  background: linear-gradient(180deg,#5164da 5%,#FFFFFE 5%);
  box-shadow: 0 0px 2px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 15px;
  border: 1px rgba( 255, 255, 255, 0.18 );
  overflow-y: auto;
  overflow-x: hidden;
}

#closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}