
.image {
    width: 70%;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.main-title-container h4 {
    font-weight: 700;
}

.main-title-container {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.main-container {
    margin-right: 5%;
    margin-left: 5%;
    padding: 5px;
}

.info-container {
    margin: auto;
}

.button-container {
    /*border: 1px solid black;*/
}

.edit-button {
    width: 7em;
    height: 2.5em;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    background: #7A41FF;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
    cursor: pointer;
}

.info-main-container {
    display: flex;
    margin: 5px;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;
}

.company {
    flex-basis: 35%;
    position: relative;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;
    margin: 10px;
    height: 35em;
}

.profile {
    flex-basis: 30%;
}

.profile-pic{
    margin: 8px;
}

#preview {
    margin: auto;
    display: block;
    border-radius: 10%;
}

.profile-edit-button {
  cursor: pointer;
}

.company-info {
    flex-basis: 30%;
    margin: 5px;
    /*border: 1px solid blue;*/
}

.question-answer {
    flex-basis: 30%;
    margin: 10px;
    padding: 5px;
    position: relative;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;
    height: 35em;
}


.status-container {
    margin-top: 10px;
    height: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;

}

.content-label-container {
    display: flex;

}

.content-label {
    border: 1px solid black;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    display: block;
    text-align: center;
    line-height: initial;
    border-bottom: none;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 5px;
}

.content-container {
    height: auto;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
}

.content{
    height: auto;
    border: 1px solid gray;
    margin: 5px;
}
