/** recruiterMyPage.jsp **/
/* company profile */
main.mylist {
    padding : 200px 250px 100px 250px;
    margin: 0 auto;
}
.listForm {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    padding: 3.5em;
    z-index: 1;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
}
.main-container {
    margin: 150px;
/*    padding : 200px 250px 100px 250px;*/
    margin-right: 5%;
    margin-left: 5%;
    padding: 5px;
}
.main-title-container h4 {
    font-weight: 700;
}
.main-title-container {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}
.info-container {
    margin: auto;
}
.info-main-container {
    display: flex;
    margin: 5px;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;
}
.company {
    flex-basis: 30%;
    position: relative;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;
    margin: 10px;
    height: 40em;
}
.profile {
    flex-basis: 30%;
}
.profile-pic{
    margin: 8px;
}
.image {
    width: 70%;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 1em;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.profile-edit-button-1 {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}
#logoFile {
  display: none;
}
.btn-upload {
  margin: 0.2em;
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgb(77,77,77);
    color: #fff;
  }
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.profile-edit-button-2 {
    margin: auto;
    display: flex;
    justify-content: center;
}
.edit-button {
    margin: auto;
    width: auto;
    height: 2.4em;
    border: none;
    font-size: 0.85em;
    font-weight: bold;
    color: white;
    border-radius: 0.3em;
    background: #323232;
    cursor: pointer;
}
.company-info {
    flex-basis: 30%;
    margin: 5px;
}
table.company-info-lists {
  border-collapse: collapse;
  line-height: 1.5;
  width: 100%;
  margin: 0.2em;
}
table.company-info-lists tbody th {
  width: 35%;
  font-weight: bold;
  color: #369;
  vertical-align: top;
  padding: 0.2em;
  font-size: medium;
}
table.company-info-lists tbody td {
  width: 65%;
  vertical-align: top;
  padding: 0.2em;
  font-size: medium;
}
.button-container {
    /*border: 1px solid black;*/
}
.dummy{
    margin: 1px;
}

/** recruiterMyPage.jsp + recruiterMyList.jsp + recruiterMyPageContentList.jsp **/
/* related info list */
.list-container {
    flex-basis: 40%;
    margin: 10px;
    padding: 5px;
    position: relative;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;
    height: 40em;
}
.content-label-container {
    display: flex;
}
.content-label {
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    display: block;
    text-align: center;
    line-height: initial;
    border-bottom: none;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    margin-right: 5px;
}
.list-button {
    font-size: 0.85em;
    width: auto;
    height: 2.4em;
    border-radius: 0.3em;
    background: #323232;
    color: white;
    cursor: pointer;
}
.content-container {
    height: 35em;
    overflow-y: scroll;
}
.basic-content-container {
    margin: auto;
}

/** recruiterMyPage.jsp + recruiterMyList.jsp **/
/*.info-list-container {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    z-index: 1;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
    margin-bottom: 30px;
}*/
.list-up-container {
    flex-basis: 100%;
    margin: auto;
    padding: 5px;
    position: relative;
    z-index: 1;
    padding: 30px;
    background-color: #fff;
    transition: all .3s;
    margin-bottom: 30px;
    height: auto;
}
.list-content {
    height: auto;
    margin: 10px;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    &:hover {
      background: linear-gradient(to left, #2792d9, #6478FF);
      /*background: linear-gradient(to left, #2792d9, #5da7d9);*/
      color: #fff;
    }
}
.pagination {
    padding-left: 0;
    list-style: none;
    margin: 2em;
    display: flex;
    justify-content: center;
}
.pagination ol {
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
}
.pagination li {
    margin: 0 5px;
    color: #020715;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    font-size: 1.2em;
    display: block;
    &:hover {
      background: rgb(77,77,77);
      color: #fff;
    }
}
.pagination li.active {
    background: rgb(77,77,77);
    color: #fff;
}


/** recruiterMyPageContentList.jsp **/
.content-hidden {
    height: auto;
    margin: 10px;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
    &:hover {
      background: linear-gradient(to left, #2792d9, #6478FF);
      /*background: linear-gradient(to left, #2792d9, #5da7d9);*/
      color: #fff;
    }
}
.show-list {
    text-align: center;
    display: block;
}
table.company_table {
  border-collapse: collapse;
  line-height: 1.5;
  width: 100%;
}
table.company_table thead th {
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 1px solid #036;
  padding: 0.1em;
}
table.company_table tbody th {
  width: 35%;
  font-weight: bold;
  vertical-align: top;
  padding: 0.1em;
  /*border-bottom: 1px solid #ccc;*/
}
table.company_table tbody td {
  width: 65%;
  vertical-align: top;
  padding: 0.1em;
  /*border-bottom: 1px solid #ccc;*/
}


/** recruiterMyList.jsp **/
table.company_lists {
  border-collapse: collapse;
  line-height: 1.5;
  width: 100%;
}
table.company_lists thead th {
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 1px solid #036;
  padding: 0.5em;
  font-size: larger;
}
table.company_lists tbody th {
  width: 35%;
  font-weight: bold;
  vertical-align: top;
  padding: 0.5em;
  font-size: medium;
  /*border-bottom: 1px solid #ccc;*/
}
table.company_lists tbody td {
  width: 65%;
  vertical-align: top;
  padding: 0.5em;
  font-size: medium;
  /*border-bottom: 1px solid #ccc;*/
}




