<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pickmeup.jobstartup.member.repository.MemberRepository">
    <!-- 아이디 중복 확인 -->
    <select id="countByMemberId" resultType="int">
        select count(*) from member where member_id = #{member_id}
    </select>

    <!-- 일반회원가입 -->
    <insert id="savePerson">
        INSERT INTO member(member_id, member_type, menu_id, member_name, member_pw, member_sex, member_hp, member_email, member_birth, member_loc)
        VALUES(#{member_id}, #{member_type}, #{menu_id}, #{member_name}, #{member_pw}, #{member_sex}, #{member_hp}, #{member_email}, #{member_birth}, #{member_loc})
    </insert>

    <!-- 기업회원가입 -->
    <insert id="saveCompany">
        INSERT INTO member(member_id, member_type, menu_id, member_name, member_pw, member_sex, member_hp, member_email, member_birth, member_loc, status_yn, business_no)
        VALUES(#{member_id}, #{member_type}, #{menu_id}, #{member_name}, #{member_pw}, #{member_sex}, #{member_hp}, #{member_email}, #{member_birth}, #{member_loc}, #{status_yn}, #{business_no})
    </insert>

    <!-- 회원 구분에 따른 메뉴 ID 가져오기 -->
    <select id="selectMenuId" resultType="string">
        SELECT menu_id FROM menu_authority WHERE member_type = #{member_type}
    </select>

    <!-- 이메일 중복 확인 -->
    <select id="countByEmail" resultType="int">
        SELECT count(*) FROM member WHERE member_email = #{member_email}
    </select>

    <!-- 스프링 시큐리티. 아이디로 멤버 객체 가져오기 -->
    <select id="findByUsername" parameterType="String" resultType="com.pickmeup.jobstartup.member.entity.Member">
        SELECT * FROM member WHERE member_id = #{username}
    </select>

    <!-- 사업자등록번호 중복 확인 -->
    <select id="findByBusinessNo" resultType="com.pickmeup.jobstartup.member.entity.Member">
        SELECT * FROM member WHERE business_no = #{business_no}
    </select>

    <!-- 개인회원 아이디 찾기 -->
    <select id="findPersonId" resultType="string">
        SELECT member_id FROM member WHERE member_name = #{name} AND member_hp = #{phone}
    </select>

    <!-- 비밀번호 찾기를 위한 멤버 객체 가져오기 -->
    <select id="findPersonPassword" resultType="com.pickmeup.jobstartup.member.entity.Member">
        SELECT * FROM member WHERE member_id = #{memberId} AND member_name = #{memberName} AND member_hp = #{memberPhone}
    </select>

    <!-- 비밀번호 재설정 -->
    <update id="updatePassword">
        UPDATE member SET member_pw = #{newPassword} WHERE member_id = #{memberId}
    </update>

    <!-- 기업회원 아이디 찾기 -->
    <select id="findCompanyId" resultType="string">
        SELECT member_id FROM member WHERE member_name = #{name} AND business_no = #{business_no}
    </select>

    <!-- 기업회원 비밀번호 찾기를 위한 멤버 객체 가져오기 -->
    <select id="findCompanyPassword" resultType="com.pickmeup.jobstartup.member.entity.Member">
        SELECT * FROM member WHERE member_id = #{memberId} AND member_name = #{memberName} AND member_hp = #{memberPhone}
    </select>

    <!-- 기업회원 비밀번호 재설정 -->
    <update id="updateCompanyPassword">
        UPDATE member SET member_pw = #{newPassword} WHERE member_id = #{memberId}
    </update>

</mapper>